#footer > li {
 display: block;
 margin-top: 2rem;
 list-style: none;
}

#footer > li > a{
font-size: 1.2rem;
color: white;
}

#footer > li > a:link{
 color:white;
}


#footer > li > a:{
 color:white;
}

#footer > li > a:hover{
 color:grey;
}

tr {
margin-left: 10px;
margin-right: 10px;
}

