{%extends "base.html"%}
{%block title%}Login Success{%endblock%}
{%block content%}

<div class="alert alert-success alert-dismissable fixed-top">
 <button class="close" data-target="alert-dismissable" data-dismiss="alert">&times;</button>
 You <strong>successfully signed up</strong>
</div>

<div class="container p-5">
 <div class="text-center p-5">
  <p class="text-secondary" style="font-family:Abel; font-size:1.5rem;">Click The Button To Go Back</p>
  <button class="btn btn-dark my-5">Back</button>
 </div>
</div>

{%endblock%}